# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
null/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android & iOS build artifacts
*.apk
*.aab
*.ipa
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle
/android/local.properties

# Large external raw audio source folders
عبد الباسط عبد الصمد - المصحف المرتل/
siraj_quran_audio/

